.headers {
  font-weight: 600;
}

.leaderboard h4:not(:first-child) {
  margin-top: 1em;
}

.leaders {
  background-color: rgba(0, 0, 0, 0.6);
}

.tree-huggers {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
}

.polluters {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
}

.player-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tooltip > .tooltip-inner {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
}
.tooltip .arrow::before {
  border-right-color: rgba(255, 255, 255, 0.9);
}
